{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bible Notes App</title>
  <link rel="stylesheet" href="{% static 'styles.css' %}">

</head>
<body>
  <div id="wrapper">
    <header>
      <a href="/">
        <img src="{% static 'minilogo.jpg' %}" alt="logo">   
      </a>
      <h1 class="center">Bible Notes App</h1>
      <!-- <br>
      <h3 class="center">Discover the power of God's word</h3> -->
    </header>
    <nav>
      <ul>
        <li><a href="/read/t_asv/1/1">Read</a></li>
        <li><a href="/books">Compare</a></li>
        <li><a href="big.html">Diary</a></li>
      </ul>      
    </nav>

{% block content %}
{% endblock %}

<footer>
  <ul>
    <li>Copyright &copy; 2024</li>
    <li>All Rights Reserved</li>
    <li><a href="/alexto/it161/index.html">Web Design by Alex</a></li>
    <li><a href="https://validator.w3.org/nu/?doc=https%3A%2F%2Fbibleapp.pythonanywhere.com%2F">HTML Valid!</a></li>
  </ul>
</footer>

</div> <!-- end Wrapper -->
</body>
</html>